registration_node:
  ros__parameters:

    calib_yaml: calib_zed2i_to_seyond.yaml
    world_frame: world
    # ------------------------------------------------------------
    # Calibration & templates
    # ------------------------------------------------------------
    # all paths are relative to package/config

    template:
      dir: "/templates"
      cad_name: "ConcreteBlock.ply"
      n_points: 2000
      angle_deg: 30.0

    # ------------------------------------------------------------
    # Global registration (plane extraction)
    # ------------------------------------------------------------
    preproc:
      max_pts: 1000
      nb_neighbors: 20
      std_dev: 2.0

    # ------------------------------------------------------------
    # Global registration (plane extraction)
    # ------------------------------------------------------------
    glob_reg:
      # Distance threshold for plane inliers [m]
      dist_thresh: 0.02
      # Minimum number of inliers per plane
      min_inliers: 100
      # Maximum angle (deg) between plane normal and world Z
      angle_thresh_degree: 30.0
      # max distance between plane centers, i.e. segmentation mask off - abort if top plane and ground plane are visible
      max_plane_center_dist: 0.6

      clustering:
        support_radius: 0.1
        min_neighbors: 10
        erosion_iters: 0

    # ------------------------------------------------------------
    # Local registration (ICP)
    # ------------------------------------------------------------
    loc_reg:
      # Max correspondence distance for ICP [m]
      icp_dist: 0.04

    debug:
      publish_cutout: true
      publish_mask: false

    # dump goal inputs (mask, cloud) into dump dir for offline processing / development
    dump:
      enable: false
      dir: dump
